//-------------------------------------------------------------------------------
  @name: Contact
  -------------------------------------------------------------------------------//

//contact
.contact#contact
  .container
    .contact__desc
      p !{dataContact.desc}
    .contact__info
      p !{dataContact.location}
      ul
        each val in dataContact.list
          li
            a(href=val.to) !{val.title}
      ul
        each val2 in dataStore
          li
            a(href=val2.to) !{val2.title}
