//-------------------------------------------------------------------------------
  @name: Products Detail
  -------------------------------------------------------------------------------//

//product-detail
.product-detail
  .container
    .product-detail__left
      .product-detail__main-img.js-carousel-main-img
        each val, index in data.list
          .product-detail__main-img__item(data-hash=index)
            ='\n'
            img.product-detail__main-img__el(src='assets/img/dummy/'+val.img, alt='Kamengski')/
      .product-detail__control-img.js-carousel-control-img
        each val, index in data.list
          .product-detail__control-img__item(data-hash=index)
            ='\n'
            img.product-detail__control-img__el(src='assets/img/dummy/'+val.img, alt='Kamengski')/
    .product-detail__right
      h1.product-detail__title !{data.title}
      h2.product-detail__price Rp!{data.price}
      .product-detail__desc
        p !{data.desc}
      ul.product-detail__action
        li.product-detail__action__item
          ='\n'
          button.product-detail__size-chart.btn.btn--secondary.js-popup-size-chart(type='button') Size Chart
        li.product-detail__action__item
          ='\n'
          a.product-detail__link(href='#', target='_blank') Buy On Tokopedia
        li.product-detail__action__item
          ='\n'
          a.product-detail__link(href='#', target='_blank') Buy On Shopee
